* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  margin: 0;
  width: 100%;
  max-width: 1300px;
  background: hsl(0, 0%, 100%);
}

.card-form {
  padding: 15px 20px;
  color: hsl(278, 68%, 11%);
}

.form-control {
  padding: 10px 0;
}

.form-control label {
  text-transform: uppercase;
  display: block;
  margin: 10px 0;
  font-size: 15px;
}

.form-control input {
  display: block;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 6px;
  padding: 10px;
  width: 100%;
}

.form-control input:active {
  border-color: hsl(249, 99%, 64%);
}

.form-control input::placeholder {
  color: hsl(270, 3%, 87%);
}

.date,
.cvc {
  display: inline-block;
  width: 49%;
  vertical-align: middle;
}

.date input {
  display: inline-block;
  width: 48%;
}

.cvc input {
  width: 100%;
}

.form-control button {
  width: 100%;
  padding: 10px 0;
  background: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
}
