@import url('./styles/card-display.css');
@import url('./styles/card-form.css');
@import url('./styles/success.css');

* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: hsl(0, 0%, 100%);
}

.content {
  margin-top: 300px;
  padding: 15px 20px;
}

.button {
  width: 100%;
  padding: 10px 0;
  background: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@media (min-width: 1000px) {
  .content {
    margin: 0;
    padding: 0;
    width: calc(100% - 330px);
    text-align: center;
    vertical-align: middle;
    display: inline-block;
  }
}
