.background {
  background: url('../images/bg-main-mobile.png');
  position: fixed;
  top: 0;
  width: 100%;
  height: 240px;
}

.card {
  width: 350px;
  position: relative;
  margin: 0 auto;
}

.card-back {
  position: absolute;
  width: 300px;
  top: 30px;
  right: 0;
}

.card-front {
  position: absolute;
  width: 300px;
  z-index: 1;
  left: 0;
  top: 122px;
}

.card .card-logo {
  position: absolute;
  width: 60px;
  z-index: 2;
  top: 140px;
  left: 30px;
}

.card span,
.card p {
  color: hsl(0, 0%, 100%);
  position: absolute;
  z-index: 2;
}

.card .card-cvc {
  font-size: 12px;
  top: 91px;
  right: 40px;
}

.card .card-number {
  top: 190px;
  left: 30px;
  letter-spacing: 2.5px;
}

.card .card-name {
  font-size: 12px;
  text-transform: uppercase;
  top: 235px;
  left: 30px;
}

.card .card-month {
  font-size: 12px;
  top: 235px;
  right: 101px;
}

.card span {
  font-size: 12px;
  top: 245px;
  right: 93px;
}

.card .card-year {
  font-size: 12px;
  top: 235px;
  right: 75px;
}

@media (min-width: 1000px) {
  .background {
    background: url('../images/bg-main-desktop.png');
    left: 0;
    height: 100%;
    width: 320px;
  }

  .card {
    height: 50%;
    top: 50%;
    margin: 0;
    width: 500px;
  }

  .card-front {
    top: -177px;
    left: 120px;
  }

  .card-back {
    top: 12px;
    left: 190px;
  }

  .card .card-number,
  .card .card-logo {
    left: 145px;
  }

  .card .card-logo {
    top: -155px;
  }

  .card .card-number {
    top: -110px;
  }

  .card .card-name,
  .card .card-month,
  .card .card-year {
    top: -55px;
  }

  .card .card-name {
    left: 145px;
  }

  .card .card-month {
    left: 346px;
  }

  .card span {
    top: -45px;
    left: 365px;
  }

  .card .card-year {
    left: 372px;
  }

  .card .card-cvc {
    top: 73px;
    left: 430px;
  }
}
