.success {
  display: none;
  text-align: center;
}

.success h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: hsl(278, 68%, 11%);
  letter-spacing: 2.5px;
  margin: 25px 0;
}

.success p {
  display: block;
  color: hsl(279, 6%, 55%);
  margin-bottom: 40px;
}
